<div class="breadcrumb">
    <h1>Project Name</h1>
    <ul>
        <li><a routerLink="/project/about"><i class="i-Information"></i></a></li>
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-3">
        <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" src="./assets/images/charlie-deets-fSF9Ymg6SlA-unsplash.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="text-center pt-4">
                    <h5 class="card-title mb-2 text-white">Store 1</h5>
                    <div class="separator border-top mb-2"></div>
                    <p class="text-small font-italic">Last updated 01.02.2022</p>
                </div>
                <div class="p-1 text-left card-footer font-weight-light d-flex">
                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>01.02.2022</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-dark text-white o-hidden mb-4">
            <img class="card-img" src="./assets/images/photo-long-3.jpg" alt="Card image">
            <div class="card-img-overlay">
    
                <div class="text-center pt-4">
                    <h5 class="card-title mb-2 text-white">Store 2</h5>
                    <div class="separator border-top mb-2"></div>
                    <p class="text-small font-italic">Last updated 03.12.2021</p>
                </div>
                <div class="p-1 text-left card-footer font-weight-light d-flex">
                    <span class="mr-3 d-flex align-items-center"><i class="i-Speach-Bubble-6 mr-1"></i> 12 </span>
                    <span class="d-flex align-items-center"><i class="i-Calendar-4 mr-2"></i>03.12.2021</span>
                </div>
    
            </div>
        </div>
    </div>
</div>