<div class="pb-2">
    <h4>Edit Inventory</h4>
</div>
<!-- <p>Creating new store will trigger an email to respective person to validate the account.</p> -->
<div class="" *ngIf="invState == 'retail'; else society">
    <div *ngIf="dataloaded==true">
        <form [formGroup]="createInventory" class="col-md-12 g-3 was-validated"
            (ngSubmit)="storeInfoSubmit(createInventory)" novalidate>
            <h5 class="card-title">Store Info.</h5>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeName" class="form-label">Store name *</label>
                            <input type="text" class="form-control" id="storeName" placeholder="Enter your store name"
                                formControlName="storeName" required>
                            <div class="invalid-feedback" *ngIf="storeName.errors?.['required']">
                                Store name is required.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="doorno">Door no. *</label>
                            <input type="text" class="form-control" id="doorno" placeholder="Door no."
                                formControlName="doorno" required>
                            <div class="invalid-feedback" *ngIf="doorno.errors?.['required']">
                                Door no is required.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="street">Street *</label>
                            <input type="text" class="form-control" id="street" placeholder="Enter Street name"
                                formControlName="street" required>
                            <div class="invalid-feedback" *ngIf="street.errors?.['required']">
                                Street is required.
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="street">Address *</label>
                            <input type="text" class="form-control" id="address" placeholder="Enter Address"
                                formControlName="address" required>
                            <div class="invalid-feedback" *ngIf="address.errors?.['required']">
                                Address is required.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="city">City *</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="city" id="city" required>
                                    <option [value]="item.id" *ngFor="let item of city_list"> {{ item.attributes.cityname }}
                                    </option>
                                </select>
    
                            </div>
                            <div class="invalid-feedback" *ngIf="city.errors?.['required']">
                                City is required.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="state">State *</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="state" id="state" required>
                                    <option [value]="item.id" *ngFor="let item of state_list">
                                        {{ item.attributes.statename }}</option>
                                </select>
    
                            </div>
                            <div class="invalid-feedback" *ngIf="state.errors?.['required']">
                                State is required.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="pinCode">Pin Code *</label>
                            <input type="tel" class="form-control" id="pinCode" placeholder="Enter pin code"
                                formControlName="pincode" required minlength="6" maxlength="6">
                            <div class="invalid-feedback" *ngIf="pincode.errors?.['required']">
                                Pin Code is required.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="pincode.errors?.['minlength'] || pincode.errors?.['maxlength']">
                                Pincode should be 6 digits.
                            </div>
                        </div>
    
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeType">Store Type *</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="store_type" id="storeType" required>
                                    <option [value]="item.id" *ngFor="let item of store_type_list">
                                        {{ item.attributes.typename }}
                                    </option>
                                </select>
    
                            </div>
                            <div class="invalid-feedback" *ngIf="store_type.errors?.['required']">
                                Store type is required.
                            </div>
                        </div>
    
    
                        <agm-map [latitude]="marker.lat" [longitude]="marker.lng" [zoom]="zoom"
                            (mapClick)=" mapClicked($event)">
                            <agm-marker [latitude]="marker.lat" [longitude]="marker.lng"
                                [markerDraggable]="marker.draggable" (dragEnd)="markerDragEnd($event)">
                                <agm-info-window [isOpen]="true" *ngIf="storeName.value">
                                    <strong style="color: #495057;">{{ storeName.value }}</strong>
                                </agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Store Owner Info.</h4>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeName" class="form-label">Store Owner Name *</label>
                            <input type="text" class="form-control" id="ownerName" placeholder="Enter store owner name"
                                formControlName="ownerName" required>
                            <div class="invalid-feedback" *ngIf="ownerName.errors?.['required']">
                                Store owner name is required.
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeName" class="form-label">Mobile No.*</label>
                            <input type="tel" class="form-control" id="ownerMobileNo"
                                placeholder="Enter store owner Mobile No." formControlName="ownerMobileNo" required
                                minlength="10" maxlength="10">
                            <div class="invalid-feedback" *ngIf="ownerMobileNo.errors?.['required']">
                                Store Owner Mobile No. is required.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="ownerMobileNo.errors?.['minlength'] || ownerMobileNo.errors?.['maxlength']">
                                Mobile no. should be 10 digits.
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="phone">Alternate Phone No.</label>
                            <input type="tel" class="form-control" id="phone" placeholder="Enter phone number"
                                formControlName="phone_no" minlength="10" maxlength="10">
                            <div class="invalid-feedback"
                                *ngIf="phone_no.errors?.['minlength'] || phone_no.errors?.['maxlength']">
                                Mobile no. should be 10 digits.
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeName" class="form-label">GSTIN</label>
                            <input type="text" class="form-control" id="storeName" placeholder="Enter store gstin"
                                formControlName="gstin">
                            <!--div class="invalid-feedback" *ngIf="storeName.touched">
                            Store GSTIN No. is required.
                        </div-->
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="storeName" class="form-label">Email</label>
                            <input type="email" class="form-control" id="owneremail" placeholder="Enter owner email address"
                                formControlName="owneremail">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Photos</h4>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Store Photos: 1- Front View, 2-Front Close up view, 3-Left Side, 4-Right
                        side</h5>
                    <div class="row">
                        <div class="col-md-4 form-group mb-3">
                            <div class="card bg-dark text-white o-hidden mb-4">
                                <img class="card-img" [src]="env.backendfileURI + store.attributes?.invpics[0]?.filepath"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">{{store.attributes?.invpics[0]?.viewtype}}</h5>
                                    <p class="card-text"> <button class="btn btn-danger btn-icon m-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete" (click)="deleteImage('frontview')">
                                            <i class="i-Remove"></i>
                                        </button></p>
                                </div>
                            </div>
                            <div class="input-group" *ngIf="fv_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo"
                                        aria-describedby="inputGroupFileAddon01" placeholder="Select Front View photo"
                                        (change)="onFileChanged($event, 'front_view')" aria-describedby="photoHelp"
                                        required>
                                    <label class="custom-file-label" for="photo">{{ fv_file?.value ? fv_file?.value?.name :
                                    'Select photo' }}</label>
                                </div>
                            </div>
                            <label *ngIf="fv_edit==true && fv_file.errors?.['required']"><span class="text-danger text-10">
                                    Front Photo is
                                    required.</span></label>
                        </div>
                        <div class="col-md-4 form-group mb-3">
                            <div class="card bg-dark text-white o-hidden mb-4">
                                <img class="card-img" [src]="env.backendfileURI + store.attributes?.invpics[1]?.filepath"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">{{store.attributes?.invpics[1]?.viewtype}}</h5>
                                    <p class="card-text"> <button class="btn btn-danger btn-icon m-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete" (click)="deleteImage('frontviewcloseup')">
                                            <i class="i-Remove"></i>
                                        </button></p>
                                </div>
                            </div>
                            <div class="input-group" *ngIf="fvcu_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo"
                                        aria-describedby="inputGroupFileAddon01"
                                        placeholder="Select front view close up photo"
                                        (change)="onFileChanged($event, 'front_view_close_up')" aria-describedby="photoHelp"
                                        required>
                                    <label class="custom-file-label" for="photo">{{ fvcu_file.value ? fvcu_file.value.name :
                                    'Select photo' }}</label>
                                </div>
                            </div>
                            <label *ngIf="fvcu_edit==true && fvcu_file.errors?.['required']"><span
                                    class="text-danger text-10">
                                    Front close up Photo is
                                    required.</span></label>
                        </div>
                        <div class="col-md-4 form-group mb-3">
                            <div class="card bg-dark text-white o-hidden mb-4">
                                <img class="card-img" [src]="env.backendfileURI + store.attributes?.invpics[2]?.filepath"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">{{store.attributes?.invpics[2]?.viewtype}}</h5>
                                    <p class="card-text"> <button class="btn btn-danger btn-icon m-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete" (click)="deleteImage('leftside')">
                                            <i class="i-Remove"></i>
                                        </button></p>
                                </div>
                            </div>
                            <div class="input-group" *ngIf="ls_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo"
                                        aria-describedby="inputGroupFileAddon01"
                                        placeholder="Select left side street view photo"
                                        (change)="onFileChanged($event, 'left_side')" aria-describedby="photoHelp" required>
                                    <label class="custom-file-label" for="photo">{{ ls_file.value ? ls_file.value.name :
                                    'Select photo' }}</label>
                                </div>
                            </div>
                            <label *ngIf="ls_edit==true && ls_file.errors?.['required']"><span class="text-danger text-10">
                                    Left side Photo is
                                    required.</span></label>
                        </div>
                        <div class="col-md-4 form-group mb-3">
                            <div class="card bg-dark text-white o-hidden mb-4">
                                <img class="card-img" [src]="env.backendfileURI + store.attributes?.invpics[3]?.filepath"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">{{store.attributes?.invpics[3]?.viewtype}}</h5>
                                    <p class="card-text"> <button class="btn btn-danger btn-icon m-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete" (click)="deleteImage('rightside')">
                                            <i class="i-Remove"></i>
                                        </button></p>
                                </div>
    
                            </div>
                            <div class="input-group" *ngIf="rs_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo"
                                        aria-describedby="inputGroupFileAddon01"
                                        placeholder="Select right side street view photo"
                                        (change)="onFileChanged($event, 'right_side')" aria-describedby="photoHelp"
                                        required>
                                    <label class="custom-file-label" for="photo">{{ rs_file.value ? rs_file.value.name :
                                    'Select photo' }}</label>
                                </div>
                            </div>
                            <label *ngIf="rs_file==true && rs_file.errors?.['required']"><span class="text-danger text-10">
                                    Right side Photo is
                                    required.</span></label>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Board Info.</h4>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 form-group mb-3">
                            <label for="boardType">Board Type *</label>
                            <div class="input-group">
                                <select class="form-control" formControlName="board_type" id="boardType">
                                    <option [value]="item.id" *ngFor="let item of board_type_list">
                                        {{ item.attributes.typename }}</option>
                                </select>
    
                            </div>
    
                        </div>
                        <div class="col-md-4 form-group mb-3">
                            <label for="rs_width" class="form-label">Board width *</label>
                            <input type="text" class="form-control" id="b_width" placeholder="Board width in metres"
                                formControlName="b_width" required>
                            <div class="invalid-feedback" *ngIf="b_width.errors?.['required']">
                                Width is required.
                            </div>
                        </div>
                        <div class="col-md-4 form-group mb-3">
                            <label for="rs_height" class="form-label">Board height *</label>
                            <input type="text" class="form-control" id="b_height" placeholder="Board height in metres"
                                formControlName="b_height" required>
                            <div class="invalid-feedback" *ngIf="b_height.errors?.['required']">
                                Height is required.
                            </div>
                        </div>
                        <div class="col-md-4 form-group mb-3">
    
                            <div class="card bg-dark text-white o-hidden mb-4">
                                <img class="card-img" [src]="env.backendfileURI + store.attributes?.boards?.filepath"
                                    alt="Card image">
                                <div class="card-img-overlay">
                                    <h5 class="card-title text-white">Board Photo</h5>
                                    <p class="card-text"> <button class="btn btn-danger btn-icon m-2" data-toggle="tooltip"
                                            data-placement="top" title="Delete" (click)="deleteImage('board')">
                                            <i class=" i-Remove"></i>
                                        </button></p>
                                </div>
                            </div>
    
                            <div class="input-group" *ngIf="b_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="photo"
                                        aria-describedby="inputGroupFileAddon01" placeholder="Select photo"
                                        (change)="onFileChanged($event, 'board_file')" aria-describedby="photoHelp">
                                    <label class="custom-file-label" for="photo">{{ board_file.value ? board_file.value.name :
                                    'Select photo' }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="street">Description *</label>
                            <input type="text" class="form-control" id="desc" placeholder="Enter Description"
                                formControlName="desc">
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="mb-3">Store Owner Consent Form.</h4>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 form-group mb-3">
                            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
                                <button type="button" class="btn btn-outline-success btn-icon m-2"
                                    *ngIf="store?.attributes?.agreement?.filepath"
                                    (click)="downloadFile(store.attributes?.agreement?.filepath)">
                                    <span class="ul-btn_icon"><i class="i-File-Download"></i></span>
                                    <span class="ul-btn_text"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-icon m-2"
                                    *ngIf=" store?.attributes?.agreement?.filepath" (click)="
                                    deleteImage('agreement')">
                                    <span class="ul-btn_icon"><i class="i-Remove-File"></i></span>
                                    <span class="ul-btn_text"></span>
                                </button>
                            </p>
    
    
                            <div class="input-group" *ngIf="consent_edit==true">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="consentform_field"
                                        aria-describedby="inputGroupFileAddon01" placeholder="Select photo"
                                        (change)="onFileChanged($event, 'consentform_field')" aria-describedby="photoHelp"
                                        required>
                                    <label class="custom-file-label" for="photo">{{ consentform_field.value ? consentform_field.value.name :
                                    'Select consent form' }}</label>
                                </div>
    
                            </div>
                            <label *ngIf="consent_edit==true && consentform_field.errors?.['required']"><span
                                    class="text-danger text-10">Consent
                                    form is required</span></label>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!createInventory.valid">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<ng-template #society>
    <div class="" *ngIf="dataloaded == true">
        <form class="col-md-12 g-3 was-validated" [formGroup]="societyForm" (ngSubmit)="societyFormSubmit()">
            <div class="card mb-3" formGroupName="societyInfo">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 form-group mb-3">
                    <label for="societyName" class="form-label">Society Name *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="societyName"
                      placeholder="Enter your society name"
                      formControlName="societyName"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.societyName').errors?.['required']"
                    >
                      Store name is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="societyType">Society Type *</label>
                    <div class="input-group">
                      <select class="form-control" id="societyType" formControlName="societyType">
                        <option
                          [value]="item.toLowerCase()"
                          *ngFor="let item of societyTypeList"
                        >
                          {{ item }}
                        </option>
                      </select>
                    </div>
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.societyType').errors?.['required']"
                    >
                      Store name is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="NumberOfFlatsOrHouses">No of Flats/ Houses *</label>
                    <input
                      type="number"
                      class="form-control"
                      id="NumberOfFlatsOrHouses"
                      placeholder="Enter the No of Flats/ Houses"
                      formControlName="no_of_flates"
                      required
                    />
                    <div class="invalid-feedback" *ngIf="societyForm.get('societyInfo.societyName').errors?.['required']">
                      No of Flats/ Houses is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="NumberOfPhases">No of totel phases *</label>
                    <input
                      type="number"
                      class="form-control"
                      id="NumberOfPhases"
                      (change)="onAddPhaseBlocksFields()"
                      formControlName="no_phases"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.no_phases').errors?.['required']"
                    >
                      Store name is required.
                    </div>
                  </div>
      
                  <div class="col-md-6">
                    <div class="row" formArrayName="phase_blocks">
                      <div class="col-lg-6 form-group mb-3" *ngFor="let phaseBlocksControl of phaseBlocksControls; index as n">
                        <label for="NumberOfBlocksForPhase">No of Blocks in phase {{n + 1}} *</label>
                        <input
                          type="number"
                          class="form-control"
                          id="NumberOfBlocksForPhase"
                          formControlName="{{n}}"
                          (change)="onAddBlocksToPhase(n)"
                          required
                        />
                        <div
                          class="invalid-feedback"
                          *ngIf="societyForm.get(['societyInfo', 'phase_blocks', n]).errors?.['required']">
                          No of Blocks is required for Phase {{n+1}}.
                         </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-6">
                    <label for="NumberOfBlocks">No of total Blocks *</label>
                    <input
                      type="number"
                      class="form-control"
                      id="NumberOfBlocks"
                      min="1"
                      disabled
                      formControlName="no_blocks"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.no_blocks').errors?.['required']">
                        Number of Blocks is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="doorno">Door no./ Apartment no. *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="doorno"
                      placeholder="Door no."
                      formControlName="door_no"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.door_no').errors?.['required']">
                        Number of Blocks is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="street">Street *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="street"
                      placeholder="Enter Street name"
                      formControlName="street"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.street').errors?.['required']">
                        Street Name is required.
                    </div>
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="street">Address *</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      placeholder="Enter Address"
                      formControlName="address"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.address').errors?.['required']">
                        address is required.
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="city">City *</label>
                    <div class="input-group">
                      <select class="form-control" id="city" formControlName="city" required>
                        <option [value]="item.id" *ngFor="let item of city_list">
                          {{ item.attributes.cityname }}
                        </option>
                      </select>
                      <div
                        class="invalid-feedback"
                        *ngIf="societyForm.get('societyInfo.city').errors?.['required']">
                            City Name is required.
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="state">State *</label>
                    <div class="input-group">
                      <select class="form-control" id="state" formControlName="state" required>
                        <option [value]="item.id" *ngFor="let item of state_list">
                          {{ item.attributes.statename }}
                        </option>
                      </select>
                      <div
                        class="invalid-feedback"
                        *ngIf="societyForm.get('societyInfo.state').errors?.['required']">
                          State name is required.
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-6 form-group mb-3">
                    <label for="pinCode">Pin Code *</label>
                    <input
                      type="number"
                      class="form-control"
                      id="pinCode"
                      placeholder="Enter pin code"
                      minlength="6"
                      maxlength="6"
                      formControlName="pincode"
                      required
                    />
                    <div
                      class="invalid-feedback"
                      *ngIf="societyForm.get('societyInfo.pincode').errors?.['required']">
                        Pincode is required.
                    </div>
                  </div>
      
                  <agm-map
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [zoom]="zoom"
                    (mapClick)="mapClicked($event)"
                  >
                    <agm-marker
                      [latitude]="marker.lat"
                      [longitude]="marker.lng"
                      [markerDraggable]="marker.draggable"
                      (dragEnd)="markerDragEnd($event)"
                    >
                      <agm-info-window [isOpen]="true" *ngIf="storeName.value">
                        <strong style="color: #495057">{{ storeName.value }}</strong>
                      </agm-info-window>
                    </agm-marker>
                  </agm-map>
                </div>
              </div>
            </div>
            <h4 class="mb-3">Contact Person Info.</h4>
            <div class="card mb-3" formGroupName="contactPersonInfo">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label for="contactPersonName" class="form-label"
                          >Contact Person Name *</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="contactPersonName"
                          placeholder="Enter Contact Person name"
                          formControlName="contactPersonName"
                          required
                        />
                        <div class="invalid-feedback" *ngIf="societyForm.get(['contactPersonInfo', 'contactPersonName']).errors?.['required']">
                          Contact Person Name is required.
                        </div>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label for="contactPersonDesignation" class="form-label"
                          >Contact Person Designation *</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="contactPersonDesignation"
                          placeholder="Enter Contact Person Designation"
                          formControlName="contactDesignation"
                          required
                        />
                        <div class="invalid-feedback" *ngIf="societyForm.get(['contactPersonInfo', 'contactDesignation']).errors?.['required']">
                          inventory Type is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="PhoneNo" class="form-label">Phone No.*</label>
                    <input
                      type="text"
                      class="form-control"
                      id="PhoneNo"
                      placeholder="Enter contact Person Phone No."
                      minlength="10"
                      maxlength="10"
                      formControlName="contact_no_1"
                      required
                    />
                    <div class="invalid-feedback" *ngIf="societyForm.get(['contactPersonInfo', 'contactPersonName']).errors?.['required']">
                      Phone Number is required.
                    </div>
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="AlternatePhoneNo">Alternative Phone No. </label>
                    <input
                      type="tel"
                      class="form-control"
                      id="AlternatePhoneNo"
                      placeholder="Enter Alternative phone number"
                      formControlName="phone_no"
                      minlength="10"
                      maxlength="10"
                      formControlName="contact_no_2"
                    />
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="storeName" class="form-label">Email. *</label>
                    <input
                      type="email"
                      class="form-control"
                      id="owneremail"
                      placeholder="Enter Contact Person Email Address"
                      formControlName="email_1"
                      required
                    />
                    <div class="invalid-feedback" *ngIf="societyForm.get(['contactPersonInfo', 'email_1']).errors?.['required']">
                      Email is required.
                    </div>
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="storeName" class="form-label"
                      >Alternative Email.</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="owneremail"
                      placeholder="Enter Alternative Contact Person Email Address"
                      formControlName="email_2"
                      #search
                    />
                  </div>
                </div>
              </div>
            </div>
            <h4 class="mb-3">Phases Info.</h4>
            <div class="" formArrayName="phases">
              <div class="card mb-3" *ngFor="let Phasecontrol of PhasesControls; index as i" [formGroupName]="i">
                <!-- <h5 class="text-center mt-3">Phase No. 1</h5> -->
                <div class="card-body">
                  <div class="row align-items-end">
                    <div class="col-md-6">
                      <label for="phaseName" class="form-label">Phase {{i + 1}}</label>
                      <input type="text" class="form-control" id="phaseName" placeholder="Enter Phase Name" formControlName="phaseName" (change)="phaseNameChanged(i)" required/>
                      <div class="invalid-feedback" *ngIf="societyForm.get(['phases', i, 'phaseName']).errors?.['required']">
                        Phase Name is required.
                      </div>
                    </div>
                    <div class="col-12" formArrayName="blocks">
                      <div class="col-12 mt-3" *ngFor="let blockControl of getblocksControls(Phasecontrol); index as j" [formGroupName]="j">
                        <div class="row">
                          <div class="row align-items-start">
                            <div class="col-md-6">
                              <label for="" class="form-label">Block {{j + 1}} Name</label>
                              <input type="text" class="form-control" placeholder="Enter Block Name" formControlName="blockName" (change)="blockNameChanged(i, j)" required/>
                              <div class="invalid-feedback" *ngIf="societyForm.get(['phases', i, 'blocks', j, 'blockName']).errors?.['required']">
                                Block Name is required.
                              </div>
                            </div>
                            <div class="col-12 mt-3" formArrayName="inventories">
                              <div class="row" *ngFor="let inventoryControl of getinventoryControls(blockControl); index as k" [formGroupName]="k">
                                <div class="col">
                                  <div class="card mb-3">
                                    <div class="card-body">
                                      <div class="row align-items-center">
                                        <div class="col-xl-8">
                                          <div class="row">
                                            <div class="col-xl-6 mb-3 mb-xl-0">
                                              <input type="text" class="form-control" placeholder="Poster Type" formControlName="inventoryType" (change)="inventoryTypeChanged(i, j, k, phaseData[i]?.blocks[j]?.invs[k]?.invIndex? phaseData[i]?.blocks[j]?.invs[k]?.invIndex: null)" required />
                                              <div class="invalid-feedback" *ngIf="societyForm.get(['phases', i, 'blocks', j, 'inventories', k, 'inventoryType']).errors?.['required']">
                                                inventory Type is required.
                                              </div>
                                            </div>
                                            <div class="col-xl-6 mb-3 mb-xl-0">
                                              <div class="input-group">
                                                <div class="custom-file">
                                                  <input
                                                    type="file"
                                                    class="custom-file-input"
                                                    id="fileData"
                                                    aria-describedby="inputGroupFileAddon01"
                                                    placeholder="Upload InventoryImage"
                                                    formControlName="inventoryImage"
                                                    accept="image/png, image/jpeg"
                                                    [required]="!phaseData[i]?.blocks[j]?.invs[k]?.invImage"
                                                    (change)="setImgPreviewControlValue($event, imgPreview, i, j, k, phaseData[i]?.blocks[j]?.invs[k]?.invId? phaseData[i]?.blocks[j]?.invs[k]?.invId: null, phaseData[i]?.blocks[j]?.invs[k]?.invIndex? phaseData[i]?.blocks[j]?.invs[k]?.invIndex: null)"
                                                  />
                                                  <label
                                                    class="custom-file-label"
                                                    for="fileData"
                                                    >Inventory Image</label
                                                  >
                                                </div>
                                              </div>
                                              <label *ngIf="societyForm.get(['phases', i, 'blocks', j, 'inventories', k, 'inventoryImage']).errors?.['required']">
                                                <span class="text-danger text-10">
                                                  Inventory Image is required.</span>
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-xl-2 mb-2 mb-xl-0 text-center">
                                          <img [src]="getImg(i, j, k)? getImg(i, j, k): 'https://t4.ftcdn.net/jpg/04/70/29/97/360_F_470299797_UD0eoVMMSUbHCcNJCdv2t8B2g1GVqYgs.jpg'" alt="" class="img-fluid" #imgPreview>
                                        </div>
                                        <div class="col-xl-2 text-right text-xl-center">
                                          <button class="btn btn-danger mr-2 rounded-circle" type="button" [disabled]="k == 0" (click)="onDeleteInventory(i, j, k)">X</button>
                                          <button class="btn btn-success rounded-circle" type="button" (click)="onAddInventory(i, j, k)">+</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-body text-center">
                    <button class="btn btn-primary" [disabled]="societyForm.invalid">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    </div>
</ng-template>